{% extends 'base.html' %}
{% block title %}Внеурочная деятельность{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Внеурочная деятельность</h1>

    <div class="text-block">
        <p>
            <a href="https://drive.google.com/file/d/1EcE5lgYrKxBr529hYckgZRkS1F1izB3v/view?usp=sharing"
               target="_blank" rel="noopener">
                План внеурочной деятельности на 2018–2019 учебный год
            </a>
        </p>
    </div>
</section>
{% endblock %}