{% extends 'base.html' %}
{% block title %}ОРКиСЭ{% endblock %}

{% block content %}
<section class="page-section">
    <h1>ОРКиСЭ</h1>

    <div class="text-block">
        <h2>Вопросы, требующие однозначного ответа</h2>
    </div>

    <div class="text-block">
        <h2>Вы утверждаете, что преподавание ОРКСЭ не является экспериментом?</h2>
        <p>
            Эксперимент — деятельность, результатом которой является либо (в случае успешного
            завершения) решение о введении учебного курса, либо (в случае неудачи) прекращение
            эксперимента и отказ от введения курса.
        </p>
        <p>
            Решение о введении комплексного учебного курса ОРКСЭ в состав нового федерального
            Базисного образовательного плана уже принято Минобрнауки России. Это решение
            основано на апробации курса и результатах многолетнего положительного опыта
            преподавания предметов духовно-нравственного цикла, в том числе входящих в состав
            ОРКСЭ, во многих регионах России.
        </p>
    </div>

    <div class="text-block">
        <h2>Что делать, если ребёнок желает изучать все модули? Может ли ребёнок изучать два модуля?</h2>
        <p>
            Одновременное изучение двух или более модулей курса ОРКСЭ одним ребёнком
            не предусмотрено.
        </p>
    </div>

    <div class="text-block">
        <h2>Почему ОПК не преподают священники? Будут ли эти уроки посещать священнослужители?</h2>
        <p>
            Каждый должен быть на своём месте и выполнять свои непосредственные функции.
            Священник — это служитель культа и миссионер. Он, имея диплом духовной семинарии
            или духовной академии, может преподавать в духовных школах соответствующие курсы.
            Для того чтобы священник мог официально работать в муниципальном или государственном
            общеобразовательном учреждении, он должен иметь педагогическое образование
            и соответствующий диплом государственного образца. Такие священники есть,
            но их очень мало. К тому же они, как правило, весьма заняты исполнением своих
            непосредственных обязанностей. Поэтому священник, преподающий ОПК в муниципальной
            школе — явление в принципе возможное, но только в качестве редкого исключения.
            Модуль ОПК должны преподавать педагоги-профессионалы, прошедшие специальную
            подготовку. Это их непосредственный функционал.
        </p>
        <p>
            Будут ли эти уроки посещать священнослужители, зависит от того, каким образом
            выстроится взаимодействие между школой и приходом, пытающимся осуществлять
            сотрудничество с данной школой. Приход может оказывать методическую помощь
            преподавателю ОПК, помогать администрации школы в консультировании родителей
            и в сопровождении педагога. Священник может участвовать в беседах с учащимися
            (но не проводить уроки по программе модуля), организовывать экскурсии в храме и т.д.
            Это возможно на основании последних нормативных документов федерального
            и регионального уровня, однако должно быть обязательно согласовано администрацией
            школы и преподавателем, заранее спланировано и реализовано в соответствии
            с взаимно оговорёнными условиями. Священник не может произвольно (без такого
            согласования) настаивать на своём присутствии на занятиях.
        </p>
    </div>

    <div class="text-block">
        <h2>Как быть, если ни родители, ни дети не хотят изучать этот курс? А можно вообще отказаться?</h2>
        <p>
            Как быть, если ни родители, ни дети не хотят изучать курс физики или истории
            Древнего мира? Попытайтесь ответить сами.
        </p>
        <p>
            Комплексный учебный курс ОРКСЭ обязателен для изучения, но имеет в своём составе
            шесть модулей, которые способны удовлетворить запросы представителей подавляющего
            большинства населения России, т.к. они ориентированы на основные культурные
            традиции народов, населяющих её, и отражают основные мировоззренческие устои
            граждан РФ — от традиционных религиозных до нерелигиозных (атеистических).
        </p>
        <p>
            Вообще отказаться нельзя. Можно выбрать модуль, содержание которого соответствует
            Вашему мировоззрению.
        </p>
    </div>

    <div class="text-block">
        <h2>Не будут ли моего ребёнка приобщать к религии? Не будет ли религиозное мировоззрение навязываться моему ребёнку?</h2>
        <p>
            Религиозное воспитание как таковое не является целью курса ОРКСЭ. Все модули курса
            основаны на светском культурологическом подходе к их преподаванию. Т.е. курс
            не предполагает религиозной практики. В ходе преподавания его модулей дети
            не приобщаются к религиозным обрядам, не участвуют в отправлении религиозного
            культа.
        </p>
        <p>
            Вместе с тем необходимо понимать, что культура — это далеко не только и не столько
            искусство. Культура — это уклад жизни народа, семьи, человека. Это представление
            об окружающем мире, о рождении, воспитании, становлении личности, взаимоотношениях
            в обществе, о смерти, на основе которых выстраивается образ жизни человека,
            его быт в том числе. В каждой культуре эти представления особенные. Их особенности
            определяются той или иной картиной мира (одной из религиозных или атеистических).
            Существует научный термин — культурообразующая религия.
        </p>
        <p>
            Поэтому культурологический подход предполагает изучение корней и плодов той или
            иной культурной традиции. Хотя приобщения к религиозному обряду при этом
            не происходит, но представления об устройстве мира, месте человека в нём, нормах
            взаимоотношений между людьми преподносятся в рамках одной из культурообразующих
            религиозных традиций (православия, ислама, буддизма, иудаизма). Или в рамках
            нерелигиозной (атеистической) этики.
        </p>
        <p>
            К какой именно мировоззренческой основе (одной из религиозных или атеистической)
            в образовательном учреждении будет приобщаться Ваш ребёнок, зависит только от Вас.
            Модуль выбираете Вы сами.
        </p>
    </div>

    <div class="text-block">
        <h2>Можно ли в процессе изучения поменять модуль? Если один предмет не заинтересовал ребёнка, может ли он перейти на другой?</h2>
        <p>
            В процессе изучения курса ОРКСЭ можно поменять изучаемый модуль. Для этого
            необходимо написать заявление на имя директора школы, который обязан обеспечить
            Вам и Вашему ребёнку такую возможность.
        </p>
    </div>

    <div class="text-block">
        <h2>Почему модуль выбираем мы, а не дети?</h2>
        <p>
            Модуль выбирают родители, а не дети, потому что согласно Закону РФ «Об образовании»
            именно родители до достижения детьми 15-летнего возраста являются их законными
            представителями перед лицом государственных и муниципальных органов, в том числе
            перед школой. Однако Вы имеете полное моральное право посоветоваться с Вашим
            ребёнком, прежде чем сделаете выбор.
        </p>
    </div>

    <div class="text-block">
        <h2>Мой ребёнок хочет изучать ОПК, но я по своим взглядам атеист и против этого. Как быть?</h2>
        <p>
            Для того чтобы не ошибиться в выборе, постарайтесь сначала хорошо разобраться
            в том, что собой представляет каждый из интересующих Вас модулей. В этом Вам
            помогут учитель, прошедший специальную подготовку, книга для родителей, материалы
            учебников и электронных пособий. На Вашем месте не следовало бы отказываться
            и от консультации с представителем прихода РПЦ, который в рамках сотрудничества
            будет помогать школе в осуществлении преподавания модуля ОПК.
        </p>
        <p>
            Кроме того, у Вас есть возможность поменять модуль в течение учебного года.
        </p>
        <p>
            Главное помните, что выбор остаётся за Вами и этот выбор очень ответственен.
        </p>
    </div>

    <div class="text-block">
        <h2>Зачем это надо именно моему ребёнку? Как повлияет изучение модуля на моего ребёнка?</h2>
        <p>
            Каждый из модулей (предметов) ОРКСЭ имеет ярко выраженный воспитывающий характер.
            Школа возвращается к тому, что берёт на себя воспитательные функции, от чего
            на официальном уровне так долго отказывалась.
        </p>
        <p>
            Но воспитывать без понимания того, что хотят родители, нельзя. Должна быть единая
            воспитательная позиция, которая основывается на единых мировоззренческих основах.
        </p>
        <p>
            Вам предлагается определиться и указать школе, на каких именно основах воспитываете
            Вашего ребёнка Вы. Школа, ориентируясь на ваш заказ, приложит свои усилия к тому,
            чтобы воспитательная канва, принятая в Вашей семье, не нарушилась, но была
            продолжена в процессе реализации федерального государственного образовательного
            стандарта.
        </p>
        <p>
            Главными категориями, на которых основывается содержание модулей, являются
            категории добра и зла, а главной задачей — научить ребёнка следовать принципам
            добра. Поэтому изучение курса на вашего ребёнка может повлиять только положительно.
        </p>
    </div>

    <div class="text-block">
        <h2>Как светский учитель будет преподавать ОПК?</h2>
        <p>
            Поскольку ОПК является не вероучительным, а светским предметом, постольку
            и преподавание его осуществляется светским преподавателем.
        </p>
        <p>
            Нет никакого противоречия между понятиями «светский» и «религиозный», т.к. они
            лежат в разных понятийных плоскостях. «Светский» значит нецерковный, не
            принадлежащий к церковной организации, так же как, например, не принадлежащий
            к военной организации (к армии). Светская деятельность — это деятельность в миру,
            т.е. вне армии, вне церкви как организаций. «Светский человек» — это не монах,
            не священнослужитель, не церковнослужитель, не военнослужащий и т.п. То есть
            он находится вне церковной или армейской иерархии. Но светский человек, т.е.
            учитель, врач, чиновник, крестьянин и т.д., вполне может быть человеком верующим,
            религиозным, от чего он не перестанет быть светским человеком.
        </p>
        <p>
            Если же Вы имеете в виду именно отсутствие веры у учителя, которому придётся
            преподавать ОПК, ориентируясь на выбор родителей, то вновь обратим внимание
            на то, что курс ОПК в составе ОРКСЭ действительно светский, культурологический.
        </p>
        <p>
            Кроме того, не стоит бояться и потому, что, как правило, учитель учится вместе
            с детьми и в постижении основ своей родной культурной традиции идёт на шаг
            или на два впереди них. Автор учебника по ОПК предполагал заранее такую ситуацию,
            и содержание учебника рассчитано на разный уровень подготовки учителя.
        </p>
        <p>
            Учитель же, который противится идеям ОПК, просто сам не станет его преподавать.
        </p>
    </div>

    <div class="text-block">
        <h2>Как и чем можно измерить результативность? Почему курс не оценивается? Мы хотим видеть результаты в оценках</h2>
        <p>
            Как можно измерить результативность курсов духовно-нравственной направленности,
            подобных ОРКСЭ — это вопрос, над ответом на который трудятся многие умные головы,
            в том числе и учёные от образования. Главным критерием результативности будет
            являться качество нравственной жизни человека, его моральный облик, его поступки.
        </p>
        <p>
            Как будет происходить оценивание по итогам изучения курса? Можно точно сказать,
            что двоек и пятёрок за его изучение ставить не будут. Этот курс безотметочный,
            т.к. уровень нравственности невозможно, а, кроме того, и опасно с педагогической
            точки зрения, измерять в баллах.
        </p>
        <p>
            В документах будет отмечено, что ребёнок изучил курс ОРКСЭ.
        </p>
        <p>
            Кроме того, результативность изучения Вашим ребёнком данного курса Вы сможете
            оценить сами, высказав своё мнение в процессе участия в очередном мониторинге,
            а также корректируя свой выбор модуля.
        </p>
    </div>

    <div class="text-block">
        <h2>Каково участие родителей в рамках курса? Чем мы, родители, можем помочь в изучении курса?</h2>
        <p>
            <strong>Во-первых</strong>, ответственно отнестись к выбору модуля (предмета)
            в рамках курса ОРКСЭ, понимая, что Вы выбираете мировоззренческую основу для
            своего ребёнка, на которой он будет строить свою жизнь. Кроме того, этот выбор
            не должен вступать в противоречие с теми принципами, которыми живёт Ваша семья.
        </p>
        <p>
            <strong>Во-вторых</strong>, Ваше непосредственное участие понадобится при
            подготовке домашних заданий и совместных проектов, которые без помощи старших
            не сможет осуществить ребёнок. Например, изучение своей семейной родословной и т.д.
            Ваше участие и Ваша помощь будут очень ощущаться, если Вы будете проявлять интерес
            к тому, что изучает ребёнок. Это будет его стимулировать. Вам также будет
            не только интересно, но и полезно вникнуть в суть изучаемого материала. Тем более
            что тематика предметов касается вопросов морали и нравственности.
        </p>
        <p>
            <strong>В-третьих</strong>, если Вы задаёте такой вопрос, значит, уже проявляете
            заинтересованность. Наверняка мы договоримся с Вами и о других формах
            взаимодействия и Вашей помощи в процессе преподавания курса.
        </p>
    </div>

    <div class="text-block">
        <h2>Я считаю, что модуль по ОПК слишком светский. В нём не хватает практических занятий, мероприятий. Можно было бы усилить эту сторону предмета?</h2>
        <p>
            Поскольку модуль ОПК, преподаваемый в рамках курса ОРКСЭ, входит в федеральный
            государственный образовательный стандарт, постольку и характер его преподавания,
            а также его содержание выдержано в рамках культурологического подхода.
        </p>
        <p>
            Кроме того, к массовому приобщению непосредственно к религиозной традиции, в том
            числе к её богослужебной практике, современное российское общество не готово.
            Оно не готово массово воспринять эту традицию. Именно поэтому не только
            государственные образовательные структуры, но и церковь видят необходимость
            постепенного приобщения именно к основам культуры нашего народа, возросшей
            на религиозной традиции, а не к самой традиции. «Не навреди» — главный принцип,
            которым нужно руководствоваться при осуществлении задачи воспитания.
        </p>
        <p>
            Вместе с тем, Вам как родителям всегда открыта возможность разумной инициативы
            при её согласовании с учителем и администрацией школы. Приглашение представителя
            прихода РПЦ как специалиста для беседы с детьми по какой-либо важной теме модуля,
            обсуждение с ним волнующих Вас вопросов, касающихся духовно-нравственного
            просвещения на родительском собрании, консультирование им учителя ОПК и прочие
            вопросы взаимодействия между приходом и школой в рамках российского
            законодательства — всё это возможно при условии формирования правильных
            сотруднических отношений с РПЦ, учитывая светский характер образования
            в российской школе.
        </p>
    </div>

    <div class="text-block">
        <h2>Зачем нам всё это нужно? Я вообще не хочу обсуждать эти вопросы</h2>
        <p>
            В данном случае осуществляется выбор мировоззренческой основы для Вашего ребёнка.
            Хотите ли Вы, чтобы этот выбор кто-то сделал за Вас?
        </p>
        <p>
            Школа впервые за последние 15–20 лет обратила пристальное внимание на то, как
            в её стенах воспитываются дети. Формируются воспитательные программы и даже
            предметы, нацеленные именно на нравственное воспитание учащихся, а не на получение
            ими только знаний, умений и учебных навыков. Согласны ли Вы на то, чтобы это
            воспитание Вашего ребёнка осуществлялось без Вашего участия?
        </p>
        <p>
            В конце концов, благополучная старость каждого человека зависит, прежде всего,
            от качества воспитания его детей, а уже потом от других факторов.
        </p>
        <p>
            Учитывая всё это, стоит задуматься и над тем, посвятить ли Вам один час времени
            для того, чтобы разобраться в сделанном Вам предложении, осознать его
            и совершить ответственный выбор.
        </p>
    </div>

    <div class="text-block">
        <h2>Не станет ли разделение на модули причиной для вражды?</h2>
        <p>
            <strong>Во-первых</strong>, разделение классов на группы давно и широко практикуется
            в школе, например, при изучении иностранных языков. Дети при этом условно называют
            друг друга «немцами», «англичанами», «французами» и т.д., но это не становится
            причиной вражды между ними.
        </p>
        <p>
            <strong>Во-вторых</strong>, все модули без исключения имеют общую стержневую идею
            (любовь к Родине-России, единство Российского государства, межконфессиональный мир
            и сотрудничество на общее благо) и общие темы для занятий в начале, середине
            и конце каждой программы.
        </p>
        <p>
            <strong>В-третьих</strong>, опыт деления учащихся на группы при изучении ими
            конфессиональных модулей давно практикуется в странах Европы. Например, в Литве
            при изучении предмета «Религия», в Польше при изучении предмета «Закон Божий»,
            в Германии и т.д.
        </p>
    </div>

    <div class="text-block">
        <h2>Почему я должна доверять нравственное воспитание своего ребёнка учителю?</h2>
        <p>
            Вы уже были вынуждены это сделать, как только привели своего ребёнка в школу
            независимо от того, преподавался ему ранее подобный учебный курс или нет. Дело
            в том, что каждый учитель всегда воспитывает ученика своей личностью, как только
            он входит в класс. Поведение учителя, манеры, его мировоззрение непременно
            отражаются на личности ученика, даже если учителем не говорится ни одного
            нравоучительного слова. Особенно, если это учитель начальных классов.
        </p>
        <p>
            Предмет ОРКСЭ поможет самому учителю лучше разобраться в нравственных категориях
            и утвердиться в стремлении к положительным проявлениям собственной личности.
            Что же в этом плохого?
        </p>
    </div>

    <div class="text-block">
        <h2>Вы сказали, что курс культурологический. Не будет ли он дублировать курс МХК, который дети будут изучать в 9 классе?</h2>
        <p>
            Это совершенно разные по своему предназначению и содержанию курсы. Предмет МХК
            нацелен на преподнесение внешних знаний о явлениях мировых художественных культур
            и не решает воспитательные задачи. Содержание предмета МХК касается только области
            искусства, а явление такого феномена как культура выходит далеко за рамки искусства.
        </p>
    </div>

    <div class="text-block">
        <h2>Почему в составе курса нет основ католической культуры? К какому модулю отнести католичество? Почему модуль, касающийся христианства, называется «Основы православной культуры», а не основы христианской культуры?</h2>
        <p>
            Как показывает практика, такие вопросы задают представители нетрадиционных
            для России инославных христианских конфессий (католики, протестанты разного толка).
        </p>
        <p>
            Дело в том, что в любой стране, где преподаются предметы, имеющие конфессиональную
            основу (такие как «Религия», «Закон Божий», «Религиозная культура» и т.п.),
            родителям всегда предлагается осуществить выбор только лишь в рамках традиционных
            для данной страны религиозных культур. Это делается для того, чтобы не нарушить
            исторически сложившийся культурный баланс, на котором основаны традиции,
            мировоззрение народа, его государственность. Каждый народ, стремящийся
            к сохранению своей национально-культурной идентичности, бережёт неповреждённой
            её основу, каковой является культурообразующая религия.
        </p>
        <p>
            Для России традиционными являются и официально признаны четыре религиозные
            традиции: православие, ислам, буддизм и иудаизм. Каждая из них, отличаясь
            древностью, внесла свой вклад в формирование культурного облика народов, входящих
            в состав России и, вместе с тем, способствовала объединению их едиными интересами
            в единое государство.
        </p>
        <p>
            Особая роль православия в истории России, становлении и развитии её духовности
            и культуры отмечена в преамбуле Закона РФ «О свободе совести и о религиозных
            организациях».
        </p>
        <p>
            Как правило, если выбор родителей останавливается на конфессиональном модуле,
            то массовое предпочтение отдаётся в зависимости от компактности проживания
            представителей той или иной культуры. В местах компактного проживания мусульман
            (Татарстан, Северный Кавказ) выбирают исламскую культуру, в районе оз. Байкал,
            в Бурятии — буддийскую культуру, выбор иудейской культуры разрозненно
            прослеживается по всей стране. В основной части России массово выбирают
            Православную культуру.
        </p>
        <p>
            Католицизм и протестантизм внесли весьма существенный вклад в формирование
            культуры, экономики и государственности стран Западной Европы и Америки,
            но ни в коем случае не России.
        </p>
        <p>
            Нужно понимать, что в современном мире просто «христианских» традиций
            вне зависимости от православия, католицизма или протестантизма того или иного
            толка не существует. Это разные традиции, и представить их в качестве одной
            традиции невозможно.
        </p>
        <p>
            Вместе с тем, на Ваш выбор предложены ещё два модуля: «Основы мировых религиозных
            культур», который касается общих черт христианства, свойственных основным
            христианским конфессиям, в том числе католицизму и классическому протестантизму,
            и «Основы светской этики», который избегает вообще привязки к любой религиозной
            традиции, базируясь на нерелигиозном (атеистическом) мировоззрении.
        </p>
        <p>
            Как правило, после серии вопросов, уточнений, которые могут сопровождаться
            попытками свести диалог к спору, католики и представители классического
            протестантизма всё же выбирают «Основы православной культуры» как наиболее
            близкую к своей из предложенных мировоззренческую основу.
        </p>
    </div>

    <div class="text-block">
        <h2>Как курс ОРКСЭ может повлиять на нравственное воспитание моего ребёнка в 10–11 лет, если моё влияние на него уже оказано?</h2>
        <p>
            <strong>Во-первых</strong>, конечно, именно в семье формируются духовно-нравственные
            основы личности. Однако нравственное и мировоззренческое развитие человека
            совершается на протяжении всей его жизни. Разве по достижении Вашим ребёнком
            10–11 лет вы не собираетесь продолжить его воспитание?
        </p>
        <p>
            <strong>Во-вторых</strong>, школа предлагает Вам свою помощь в воспитании Вашего
            ребёнка не как-нибудь, а целенаправленно именно в том русле, которое Вы сами
            определите. Наши и Ваши позиции не должны быть разными. Они должны совпадать.
        </p>
    </div>

    <div class="text-block">
        <h2>Убедите меня в том, что этот курс действительно сделает наших детей такими, какими обещает их сделать</h2>
        <p>
            Курс не обещает, он имеет свои цели и задачи.
        </p>
        <p>
            В Ваших руках находится книга для родителей. Вам представлено содержание каждого
            модуля. Обратите внимание на цели и задачи курса. Ознакомившись со всем этим,
            сделайте вывод о том, к чему стремятся авторы программ и учебников по данному
            курсу.
        </p>
        <p>
            Насколько дети последуют нравственной линии, заложенной в содержании обучения,
            в какой степени они сделаются нравственнее, будет зависеть от двух важных факторов:
            качества преподавания и качества сотрудничества между семьёй и школой, родителями
            и учителем. Таким образом, это зависит непосредственно от нас с Вами.
        </p>
    </div>

    <div class="text-block">
        <h2>Каков будет объём домашних заданий и обязательно ли их выполнять?</h2>
        <p>
            Домашние задания в рамках курса ОРКСЭ носят творческий характер. Их объём
            находится в рамках норм, предусмотренных санитарными правилами для учащихся
            согласно их возрастным особенностям, как объём заданий любого другого предмета
            федерального государственного образовательного стандарта.
        </p>
        <p>
            Что касается обязательности выполнения домашних заданий, то, конечно, «двойку»
            за невыполненное задание Вашему ребёнку никто не поставит, но и качество изучения
            Вашим ребёнком предмета в таком случае будет желать лучшего.
        </p>
        <p>
            Кроме того, неподготовленный ученик будет чувствовать себя неловко по сравнению
            с подготовленными одноклассниками. Задания предусматривают включение родителей
            в деятельность по их подготовке, а это в свою очередь означает, что
            неподготовленный ребёнок не будет чувствовать поддержки со стороны своей
            собственной семьи. Это серьёзные вещи, над которыми стоит задуматься.
        </p>
    </div>

    <div class="text-block">
        <p>
            <a href="https://drive.google.com/file/d/0B21hdDx7xD9CbUhxNGpWczNZaUk/view?usp=sharing"
               target="_blank" rel="noopener">
                Цели и задачи ОРКиСЭ (презентация)
            </a>
        </p>
    </div>
</section>
{% endblock %}