{% extends 'base.html' %}
{% block title %}ГПД{% endblock %}

{% block content %}
<section class="page-section">
    <h1>ГПД</h1>

    <div class="text-block">
        <p>
            <em>
                В условиях сохранения рисков распространения новой коронавирусной инфекции
                (COVID-19) в целях минимизации общения обучающихся из разных классов
                в ГБОУ школе №135 организуются классы-группы продлённого дня.
            </em>
        </p>
        <p>
            <em>
                В школе организовано 10 групп продлённого дня с режимом работы до 18 часов.
            </em>
        </p>
        <p>
            <em>
                В ГПД проводится внеурочная деятельность и занятия кружков в соответствии
                с расписанием каждой группы.
            </em>
        </p>
    </div>
</section>
{% endblock %}