{% extends 'base.html' %}
{% block title %}Обратная связь{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Обратная связь</h1>

    <div class="text-block">
        <p>
            <strong><em>Уважаемые родители!</em></strong>
        </p>
        <p>
            <strong><em>С целью совершенствования и развития образовательного процесса в школе
            просим Вас заполнить анкету</em></strong>, отметив позиции, в наибольшей степени
            отвечающие Вашему мнению.
        </p>
    </div>

    <div class="text-block">
        <p>
            <a href="https://goo.gl/forms/okGeDnrsuTiQgYvz1" target="_blank" rel="noopener">
                <strong>СОВЕРШЕНСТВОВАНИЕ И РАЗВИТИЕ ОБРАЗОВАТЕЛЬНОГО ПРОЦЕССА В ШКОЛЕ</strong>
            </a>
        </p>
        <p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc5LmbY7cKN1e8kK6hyj5DSnk4z2I5az5ZiCBV_UC5gjozFbw/viewanalytics?usp=form_confirm"
               target="_blank" rel="noopener">
                Посмотреть предыдущие ответы
            </a>
        </p>
        <p>
            <a href="https://goo.gl/forms/lsv3nOn8xOeRvHwy1" target="_blank" rel="noopener">
                <strong>ОБРАЩЕНИЯ УЧАСТНИКОВ ОБРАЗОВАТЕЛЬНЫХ ОТНОШЕНИЙ</strong>
            </a>
        </p>
    </div>

    <div class="text-block">
        <p><strong><em>Благодарим Вас за сотрудничество.</em></strong></p>
    </div>
</section>
{% endblock %}