{% extends 'base.html' %}
{% block title %}Английский язык{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Английский язык</h1>

    <div class="text-block">
        <h2>Сайты учителей английского языка</h2>
        <ol>
            <li>
                <a href="http://olgapin.jimdo.com/" target="_blank" rel="noopener">
                    Сайт учителя английского языка ПИН О.Л.
                </a>
            </li>
            <li>
                <a href="https://inenglishplease.tilda.ws" target="_blank" rel="noopener">
                    Сайт учителя английского языка Бычиной И.П.
                </a>
            </li>
        </ol>
    </div>
</section>
{% endblock %}