{% extends 'base.html' %}
{% block title %}История и обществознание{% endblock %}

{% block content %}
<section class="page-section">
    <h1>История и обществознание</h1>

    <div class="text-block">
        <h2>Материалы учителя истории и обществознания Баскаковой Людмилы Леонидовны</h2>
        <ul>
            <li>
                <a href="https://drive.google.com/file/d/1EGdiGlF107JJJr3FQatnu7NUDXu-lHGc/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Внедрение курса «Основы финансовой грамотности»
                </a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/1Rx1rztSfUKZGqsrt_k0fe8NMPeCY0YZE/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Крымская война
                </a>
                (презентация)
            </li>
            <li>
                <a href="https://drive.google.com/file/d/18fhiu0Cp94ZFRoeyWPKpo63WXj7eAE4z/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Урок «Крымская война»
                </a>
                (материалы)
            </li>
            <li>
                <a href="https://drive.google.com/file/d/0B21hdDx7xD9CQ2hybnl3NVRRVE0/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Программа работы с одарёнными детьми по истории и обществознанию
                </a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/0B21hdDx7xD9CQVpUam9zZ3lqdzg/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Статья «Организация работы с одарёнными детьми по истории и обществознанию»
                </a>
            </li>
            <li>
                <a href="https://drive.google.com/file/d/0B21hdDx7xD9CSFhsb1p6X2ExS1U/view?usp=sharing"
                   target="_blank" rel="noopener">
                    Программа нравственно-правового воспитания «Мы — будущее России»
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}