{% extends 'base.html' %}
{% block title %}Сайты учителей{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Сайты учителей</h1>

    <div class="text-block">
        <ol>
            <li>
                <a href="http://pupile.jimdo.com/главная/ирина-юрьевна-шабанина/"
                   target="_blank" rel="noopener">
                    Сайт учителя математики ШАБАНИНОЙ И.Ю.
                </a>
            </li>
            <li>
                <a href="http://nsportal.ru/vasilev-sergey-anatolevich"
                   target="_blank" rel="noopener">
                    Сайт учителя физической культуры ВАСИЛЬЕВА С.А.
                </a>
            </li>
            <li>
                <a href="http://olgapin.jimdo.com/"
                   target="_blank" rel="noopener">
                    Сайт учителя английского языка ПИН О.Л.
                </a>
            </li>
            <li>
                <a href="http://zwetik.jimdo.com/"
                   target="_blank" rel="noopener">
                    Сайт учителя русского языка и литературы Ибрагимовой Р.Д.
                </a>
            </li>
            <li>
                <a href="https://nsportal.ru/kolomyyceva-natalya-nikolaevna"
                   target="_blank" rel="noopener">
                    Сайт учителя начальных классов Коломыйцевой Н.Н.
                </a>
            </li>
        </ol>
    </div>
</section>
{% endblock %}