{% extends 'base.html' %}
{% block title %}Математика{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Математика</h1>

    <div class="text-block">
        <h2>Сайты учителей математики</h2>
        <ol>
            <li>
                <a href="http://pupile.jimdo.com/главная/ирина-юрьевна-шабанина/"
                   target="_blank" rel="noopener">
                    Сайт учителя математики ШАБАНИНОЙ И.Ю.
                </a>
            </li>
            <li>
                <a href="http://pupile.jimdo.com/главная/елена-юрьевна-голубкова/"
                   target="_blank" rel="noopener">
                    Сайт учителя математики ГОЛУБКОВОЙ Е.Ю.
                </a>
            </li>
            <li>
                <a href="http://pupile.jimdo.com/главная/лариса-викторовна-хворова/"
                   target="_blank" rel="noopener">
                    Сайт учителя математики ХВОРОВОЙ Л.В.
                </a>
            </li>
        </ol>
    </div>
</section>
{% endblock %}