{% extends 'base.html' %}
{% block title %}Русский язык и литература{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Русский язык и литература</h1>

    <div class="text-block">
        <h2>Сайты учителей русского языка и литературы</h2>
        <ol>
            <li>
                <a href="http://zwetik.jimdo.com/" target="_blank" rel="noopener">
                    Сайт учителя русского языка и литературы Ибрагимовой Р.Д.
                </a>
            </li>
            <li>
                <a href="http://svetlana1352012.narod.ru" target="_blank" rel="noopener">
                    Сайт учителя русского языка и литературы Канунниковой С.Ф.
                </a>
            </li>
        </ol>
    </div>
</section>
{% endblock %}